@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],

input[type="reset"],

input[type="button"]

{ -webkit-appearance:none; resize: none;}
input,select,button{
	outline:none;
}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
display: block;
}
/** 重置表格元素 **/
table {   border-collapse:collapse; 
 border-spacing:0;  }
/* 图片自适应 */
img {
max-width: 100%;
height: auto;
width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
}
/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section,td,th,i{margin:0; padding:0; border:none;}
body{font-family: Microsoft YaHei,'宋体',Tahoma,Arial,sans-serif; color:#373232; background-color:#F9F9F9;}
em,i{font-style:normal;}
strong{font-weight: normal;}
.clear:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clear{zoom:1;}
a{text-decoration:none; color:#888; font-family: '微软雅黑',Microsoft YaHei,Tahoma,Arial,sans-serif;}
i.iconfont{font-size: 1.2rem}
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family: Microsoft YaHei;}
img{border: none;}
button:active{
	opacity: 0.8;
}
*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box; 
}
/* .scope{min-width:320px; max-width:540px;} */

/*media 字体*/

@media screen{html{margin:0 auto;font-size:10px;}}
@media screen and (device-width:320px){html{font-size:10px;}}
@media screen and (device-width:375px){html{font-size:12px;}}
@media screen and (device-width:414px){html{font-size:13px;}}
@media screen and (min-width:480px){html{font-size:15px;}}
@media screen and (min-width:512px){html{font-size:16px;}}
@media screen and (min-width:540px){html{font-size:16.9px;}}
@media screen and (min-width:576px){html{font-size:18px;}}
@media screen and (min-width:640px){html{font-size:20px;}}
@media screen and (min-width:720px){html{font-size:24px; margin: 0 auto}}

/* ---------------------------------------- css base 基础部分结束---------------------------------------- */
/* 左浮动 */
.left{
	float: left;
}
/* 右浮动 */
.right{
	float: right;
}
.center{
	text-align: center;
}
.t-right{
    text-align: right;
}
.t-red{
    color:#BD2121;
}
.body-nav{
    padding-bottom:4.09rem;
    height: 100%;
}
.main-section{
    height: 100%;
    overflow-y: auto;
}
/* 文字溢出变... */
.fontOver{
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
-webkit-text-overflow: ellipsis;
}
input::input-placeholder{
    color:#404040;
    font-size: 1.2rem;
}
input::-webkit-input-placeholder{
    color: #404040;
    font-size: 1.2rem;
}
body{
    color:#404040 ;
    background: #F5F5F5;
}

.none{
    display: none;
}
.brg{
    background: #BD2121;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.center{
    text-align: center;
}
.bgray{
    background: #F5F5F5;
}
.w90{
    width: 90%;
    margin: 0 auto;
}
.p-t{
    padding-top: 3.67rem;
}
.form{
    background: #fff;
}
.p-b-b{
    border-bottom: 1px solid #EEEEEE;
}
.p-b-b-s{
    border-bottom: 1px dashed #EEEEEE;
}
.p-l-r{
    padding:1rem;
}
.p-b{
    padding-bottom: 1.25rem;
}
.mtb{
    margin: 0.83rem 0 ;
}
.mtb-b{
    margin-bottom: 0.83rem;
}
.mb{
    margin-bottom: 1.25rem;
}

.mbl{
    margin-left:2rem;
}
.mbl-s{
    margin-left:1.25rem;
}
.mbl-ss{
    margin-left:1rem;
}
.t-gray{
    color: #808080;
}
.fix{
    position: fixed;
    bottom: 2rem;
    left: 50%;
    margin-left: -45%;
}
.p-btn{
    width: 7rem;
    height:3.04rem ;
    border:1px solid #A6A6A6;
    color: #6C6C6C;
    text-align: center;
    line-height: 3.04rem;
    border-radius: 5px;
    display: inline-block;
}
.p-btn.p-btn-red{
    color:#BD2121;
    border-color:#BD2121;
}
.form-group{
    height:4.17rem;

    position: relative;

}
.form-group input{
    padding-left: 2.67rem;
    height: 100%;
    width: 100%;
    display: block;
    font-size: 1.2rem;
}
.form-group .picon{
    width: 2.6rem;
    position: absolute;
    left: 0;
    height: 100%;
    text-align: center;
    display: table;

    font-size: 1.6rem;
}
.form-group .passShow{
    position: absolute;
    right: 0;
    top: 0;
    width: 2.6rem;
    text-align: center;
    display: table;
    height: 100%;
}
.form-group .passShow i{
    display: table-cell;
    vertical-align: middle;
}
.form-group .picon i{
  display: table-cell;
    vertical-align: middle;

}
.form-group .icon img{
    max-width: 1.5rem;
}
.form-group .safe{
    position: absolute;
    right:0;
    padding: 8px 13px;
    border-radius: 3px;
    border: 1px solid  #BD2121;
    color:#BD2121 ;
    text-align: center;

    display: block;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

/*
头部

*/

.head{
    width: 100%;
    height: 3.67rem;
    line-height:3.67rem;
    color: #ffffff;
    font-size:1.4rem;
    position: fixed;
    top:0;
    left: 0;
}
.head a{
    color: #ffffff;
}
.head .p-back{
    left: 1.67rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}



.headStatus{
    height: 14.375rem;
    width: 100%;
    position: relative;
}
.headStatus .setting {
    position: absolute;
    color: #fff;
    right: 5%;
    top: 10px;
}
.headStatus .setting i{
    font-size: 1.6rem;
}
.headStatus .head_img{
    position: absolute;
    max-width: 6.17rem;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.headStatus .head_img img{
    border: 1px solid #BBBBBB;
    border-radius: 50%;
}
.headStatus .pname{
    padding-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
}
.headStatus .pname a{
    color: #fff;
}

.navs{
    width: 100%;
    height:4.09rem;
    background: #FFFFFF;
    position: fixed;
    z-index: 9;
    border-top: 1px solid #EDEDED;
    bottom: 0;

    padding-top: 5px;
}
.navs dl{
    float: left;
    width: 25%;
    text-align: center;
}

.navs dl.on{
    color:#BD2121;
}
.navs dl dd{
    font-size: 0.8rem;
}
.navs dl img{
    max-width: 2rem;
    display: block;
    margin:0 auto;
}