.order{

}
.order .order-nav{
    padding-top:1.34rem;
    margin-bottom: 0.8rem;
    background: #fff;
}
.order .order-nav .left{
    width: 20%;
    text-align: center;

}
.order .order-nav a{
    padding-bottom:1.34rem;
    display: inline-block;
    border-bottom:2px solid transparent;
}
.order .order-nav .on a{
    color: #BD2121;

    border-bottom-color: #BD2121;
}
.order-main .section{
background: #fff;
    margin-bottom: 0.75rem;

}
.order-main .gray{
    color: #A6A6A6;
}
.order-main .goods{
    font-size: 1.25rem;
}
.order-main .goods .goods-left{
    width: 20%;
    text-align: center;

}
.order-main .goods .goods-right{
    width: 75%;
    padding-top:0.5rem;
}
.order-main .goods .gray{
    font-size: 1rem;
}
.order-main .goods-right .left{
    width: 70%;
}
.order-main .goods-right .right{
    width: 27%;
    text-align: right;
}
.order-main  .wait-pay{
        height: 26.5rem;
    position: relative;
    background: #fff;
}
.order-main .wait-good{
    width: 50%;
        position: absolute;
        left: 50%;
    top: 50%;
    text-align: center;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
}
.order-main .wait-good h4{
    font-size: 1.4rem;
    color: #404040;
    margin-bottom: 5px;
    font-weight: normal;
}
 .order-main .guanlian{
    padding-top:1.875rem;
}
.guanlian .lead{
    font-size: 1.25rem;
}
.order-main .guanlian .left{
    width: 48%;
    text-align: center;

}
.order-main .guanlian .right{
    width: 48%;
    text-align: center;
}
.order-main .area{
    width: 100%;
    resize: none;
    outline: none;
}
.page-bot{
    padding: 12px 0;
    color:#D3D3D3;
}
.order-info .info-left{
    width: 9%;

}
.order-info .info-right{
    width: 90%;
}
.order-ok{
    height: 100%;
    padding-bottom: 4rem;
}